/* global*/
nav.navbar {
  display: flex;
  padding: 1rem 0.5em 0;
  margin: 0 auto;
  height: var(--navbar-height);
  width: 90%;
  gap: 10rem;
}

/* elements */
div.logo {
  align-self: center;
}
div.logo-img {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
ul.nav-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a.nav-link {
  font-size: inherit;
}
