/* global*/
nav.navbar {
  display: flex;
  padding: 1rem 0.5em 0;
  height: var(--navbar-height);
  width: 100%;
  gap: 10rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--white-color);
}

/* elements */
div.logo {
  align-self: center;
}
div.logo-img {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
ul.nav-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a.nav-link {
  font-size: inherit;
}
